@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Headline:wght@200..700&family=Stack+Sans+Notch:wght@200..700&display=swap');
@import 'tailwindcss';

.green-filter {
    filter: brightness(0) saturate(100%) invert(50%) sepia(31%) saturate(2955%) hue-rotate(111deg) brightness(98%) contrast(110%);

    @variant dark {
        filter: brightness(0) saturate(100%) invert(79%) sepia(39%) saturate(5146%) hue-rotate(98deg) brightness(97%) contrast(96%);
    }
}

.orange-filter {
    filter: brightness(0) saturate(100%) invert(55%) sepia(25%) saturate(2723%) hue-rotate(357deg) brightness(103%) contrast(102%);
}

.red-filter {
    filter: brightness(0) saturate(100%) invert(31%) sepia(61%) saturate(2596%) hue-rotate(336deg) brightness(91%) contrast(117%);

    @variant dark {
        filter: brightness(0) saturate(100%) invert(57%) sepia(47%) saturate(3492%) hue-rotate(320deg) brightness(102%) contrast(107%);
    }
}